Django==4.2.4
django-seed==0.3.1
djangorestframework==3.14.0
gunicorn==21.2.0
ipdb==0.13.13
mysqlclient==2.1.1
Pillow==10.0.0
pre-commit==3.3.3
pymemcache==4.0.0
pytest-cov==4.1.0
pytest-django==4.5.2
pytest==7.4.0
pytz==2023.3
requests==2.31.0
