Django==5.2.6
django-seed==0.3.1
djangorestframework==3.16.1
gunicorn==23.0.0
ipdb==0.13.13
mysqlclient==2.2.7
Pillow==11.3.0
pre-commit==4.3.0
pymemcache==4.0.0
pytest-cov==7.0.0
pytest-django==4.11.1
pytest==8.4.2
pytz==2025.2
requests==2.32.5
