{% extends 'admin/base.html' %}
{% block extrahead %}{{ block.super }}
<style>
    @media (prefers-color-scheme: dark) {
        :root {
            --body-bg: #0d1117;
            --darkened-bg: #0d1117; /* odds bg */
            --primary: #161b22; /* top bar 2 */
            --breadcrumbs-bg: var(--primary);
            --secondary: var(--primary); /* top bar 1 */
            --selected-row: var(--primary); /* line select at left bar*/
            --selected-bg: var(--primary);
            --hairline-color: #21262d; /* line borders */
            --border-color: #30363d; /* forms line borders */
            --accent: #4ac1f7; /* title color */
            --link-hover-color: var(--accent);
            --header-color: var(--accent); /* hello name at header */
            --link-selected-fg: var(--accent); /* filter selected */
            --breadcrumbs-link-fg: #8b949e;
            --body-quiet-color: #8b949e;
            --link-fg: #c9d1d9;
            --primary-fg: var(--link-fg);
            --body-fg: var(--link-fg); /* button color text */
            --message-success-bg: #238636;
            --close-button-bg: var(--message-success-bg);  /* add button */
            --default-button-bg: var(--message-success-bg);
            --default-button-hover-bg: #2ea043;
            --close-button-hover-bg: #2ea043;
            --error-fg: #e35f5f;
            --message-warning-bg: #583305;
            --message-error-bg: #570808;
        }
    }
    input:focus, textarea:focus, select:focus{
        outline: none;
    }
    #user-tools a:hover {
        color: var(--link-fg);
    }
    input[type="checkbox"] {
        background-color: red;
    }
</style>
{% endblock %}
